<!DOCTYPE html>
<!-- Dirección ip computadora: 192.168.0.10-->
<html>
    <head>
        <title>Iframes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">TechShop</a>
                <ul>
                    <li><a href="/ejemplo2">Mis autos</a></li>
                    <li><a href="/multimedia">Multimedia</a></li>
                    <li><a href="/index">Iframes</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <h1>Iframe</h1>
                <p>Uso de Iframe para el sitio web</p>
        </aside>
        <section>
            <h2>Iframe</h2><!-- -->
            
            <article>
                <h3>Sitio web interno</h3>
                <iframe src="http://ufidelitas.ac.cr" 
                        width="1100"
                        height="400">   
                </iframe>
            </article>
            
            <article>
                <h3>Youtube</h3>>
            </article>
            <iframe width="1304" 
                    height="480" 
                    src="https://www.youtube.com/embed/twNOS2QkKms" title="Pocoyo Temporada 1, 4 EPISODIOS COMPLETOS en español 30 minutos CAPITULO 9" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                        
            </iframe>
            
            <article>
                <h3>Ubicanos</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31440.691524268714!2d-84.04479184583563!3d9.926758949930196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e3f47ea4ff37%3A0x7a7818a6a9e5c90c!2sFidelitas%20University%20Campus%20San%20Pedro!5e0!3m2!1sen!2scr!4v1750382301345!5m2!1sen!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </article>
            
            </section>
                
        <footer>
            Todos los derechos reservados TecShop 2025 &CO;
        </footer>
    </body>
</html>
