<!DOCTYPE html>
<!-- Dirección ip computadora: 192.168.0.10-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">TechShop</a>
                <ul>
                    <li><a href="/ejemplo2">Mis autos</a></li>
                    <li><a href="/multimedia">Multimedia</a></li>
                    <li><a href="/iframes">Iframes</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <h1>TecShop</h1>
                <p>Todas las semanas se realizan rifas</p>
        </aside>
        <section>
            <h2>Su tienda en línea</h2><!-- -->
            <p> La mejor tienda de comersalizacion <p>
            </section>
                
        <footer>
            Todos los derechos reservados TecShop 2025 &CO;
        </footer>
    </body>
</html>
