<!DOCTYPE html>
<!-- Dirección ip computadora: 192.168.0.10-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 style="text-align: center; background-color: coral; color: snow">TechShop</h1>
        <a href="/">TechShop</a> | <a href="/ejemplo2">Mis autos</a>
        
        <h2>Su tienda en línea</h2><!-- -->
        <p> La mejor tienda de comersalizacion <p>
    </body>
</html>
