<!DOCTYPE html>
<!-- Dirección ip computadora: 192.168.0.10-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/ejemplo2">Mis autos</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/multimedia">Multimedia</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/iframes">Iframes</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <h1>TecShop</h1>
                <p>Todas las semanas se realizan rifas</p>
        </aside>
        <section>
            <h2>Su tienda en línea</h2><!-- -->
            <p> La mejor tienda de comersalizacion <p>
            </section>
                
        <footer>
            Todos los derechos reservados TecShop 2025 &CO;
        </footer>
    </body>
</html>