<!DOCTYPE html>
<!-- Dirección ip computadora: 192.168.0.10-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/ejemplo2">Mis autos</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/multimedia">Multimedia</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/iframes">Iframes</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <h1>Multimedios</h1>
                <p>Incorporacion de recursos multimedia en el sitio web</p>
        </aside>
        <section>
            <h2>Uso de multimedia</h2><!-- -->
            <article>
                <h3>Musica celta</h3>
                <audio controls>
                    <source src="/audios/musica.mp3" type="audio/mpeg">
                    Your browser does not support the <code>audio</code> tag.
                </audio>
            </article>
            <article>
                <h3>Pelicula de accion</h3>
                <video width="320" height="240" controls>
                    <source src="../static/videos/torpedo.mp4" type="video/mp4">
                    Your browser does not support the <code>video</code> tag.
                </video>
            </article>
            
            </section>
                
        <footer>
            Todos los derechos reservados TecShop 2025 &CO;
        </footer>
    </body>
</html>
